 
body
{
    /*background-color: gainsboro;*/
    background: url(gambar/bola.jpg) no-repeat fixed;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size : 100% 100%;
    background-size: 100% 100%;
}

 /* The sidebar menu */
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s; /* If you want a transition effect */
  padding: 0px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
} 
 
.badan-utama
{
    max-width: 1080px;
    margin: 20px auto;
    background-color: white;
    padding: 15px;
    overflow: hidden;
}
 
header
{
    background-color: crimson;
    color: white;
    padding: 20px;
}
 
header h2
{
    margin-bottom: 7px;
    font-size: 35px;
}
 
.navigasi ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:darkorange;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
}
  
.navigasi ul li a 
{
    display: block;
    color: white;
    float: left;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
}
 
.navigasi ul li a:hover 
{
    background-color:red;
    transition-duration: 2s;
}
 
.banner
{
    margin-bottom: 15px;
}
 
.banner img
{
    display: block;
    width: 100%;
    height: 500px;
}
 
.kotak
{
    border: 1px solid gainsboro;
    padding: 10px;
    margin-bottom: 15px;
}
 
.kotak h3
{
    background-color: crimson;
    color: white;
    text-align: center;
    padding: 10px;
    margin-bottom: 13px;
}
 
.kotak img
{
    display: block;
    width: 100%;
    margin-bottom: 10px;
}
 
.kotak p
{
    margin-bottom: 10px;
}
 
.menu-kiri
{
    width: 250px;
    margin-right: 10px;
    float: left;
}

.menu-tengah
{
    width: 560px;
    margin-right: 10px;
    float: left;
}
 
.menu-tengah h3
{
    background: none;
    color: crimson;
    margin-bottom: 0;
}
 
.tanggal-posting
{
    color: gray;
    text-align: right;
    font-size: 12px;
    margin-bottom: 10px;
    display: block;
}
 
.tombol
{
    display: block;
    text-decoration: none;
    padding: 10px;
    width: 120px;
    color: white;
    border-radius: 5px;
    text-align: center;
}
 
.tombol:hover
{
    background-color: black;
    transition-duration: 2s;
}
 
.tombol-regis
{
    background-color: green;
}
 
.tombol-lengkap
{
    background-color: darkorange;
}
 
.menu-kanan
{
    width: 250px;
    float: left;
}
 
.menu-kanan, .menu-kiri, .menu-tengah
{
    margin-bottom: 15px;
}
 
footer
{
    clear: both;
    background-color: crimson;
    color: white;
    padding: 15px;
    text-align: center;
}
 
.menu-artikel ul
{
    list-style-type: none;
}
 
.menu-artikel ul li a
{
    text-decoration: none;
    display: block;
    padding: 13px;
    border-bottom: 1px solid gainsboro;
    margin-bottom: 12px;
    color: black;
}
 
.menu-artikel ul li a:hover
{
    color: darkorange;
    border-bottom: 5px double chocolate;
    transition-duration: 2s;
}
 
 
/*untuk tablet*/
@media screen and (max-width:1080px)
{
    .badan-utama
    {
        width: 100%;
    }
 
    .menu-kiri
    {
        width: 25%;
    }
 
    .menu-tengah
    {
        width: 68%;
        float: right;
    }
 
    .menu-kanan
    {
        clear: both;
        float: none;
        width: 100%;
    }
}
 
/*untuk android*/
@media screen and (max-width:780px)
{
    header h2, header p
    {
        text-align: center;
    }
 
    .menu-kiri, .menu-kanan, .menu-tengah
    {
        float: none;
        width: 100%;
    }
 
    .navigasi li
    {
        float: none;
    }
}